.todos-section {
  width: 50%;
  margin: 0 auto;
}

.todos-heading {
  font-size: 7.5rem;
  font-weight: 500;
  text-align: center;
  opacity: 0.1;
}

.todos {
  display: flex;
  flex-direction: column;
}

.add-todos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-input {
  padding: 10px;
  color: white;
  font-size: 1.2rem;
  width: 100%;
  border: 0;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.add-todo-btn {
  cursor: pointer;
  width: 150px;
  height: 40px;
  margin-left: 20px;
  display: block;
  background-color: rebeccapurple;
  color: rgba(255, 255, 255, 0.821);
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.todo-list {
  list-style-type: none;
  transition: height 1s ease-in-out;
  -webkit-transition: height 1s ease-in-out;
  -moz-transition: height 1s ease-in-out;
  -ms-transition: height 1s ease-in-out;
  -o-transition: height 1s ease-in-out;
}

@media (min-width: 320px) {
  .todos-section {
    width: 100%;
  }
}
@media (min-width: 481px) {
}
@media (min-width: 641px) {
}
@media (min-width: 961px) {
}
@media (min-width: 1025px) {
  .todos-section {
    width: 60%;
  }
}
@media (min-width: 1281px) {
  .todos-section {
    width: 50%;
  }
}
