.todo-list-item {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
}

.todo-list-item:hover {
  background-color: rgba(128, 128, 128, 0.419);
}

.todo-text {
  width: 80%;
}

.todo-icon {
  cursor: pointer;
  font-size: 2rem !important;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 5px;
  padding: 5px;
}
