.todo-list-item {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}

.todo-text {
  width: 80%;
}

.todo-icon {
  cursor: pointer;
  font-size: 2rem !important;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 5px;
  padding: 5px;
}
