.navbar {
  padding: 60px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.topbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  color: lightgray;
  text-decoration: none;
}

.navbar-list {
  height: 50px;
  display: flex;
  align-items: center;
}

.navbar-item {
  cursor: pointer;
  font-weight: bold;
  margin-left: 15px;
  color: lightgray;
  text-decoration: none;
}

nav .active {
  color: rgb(182, 117, 247);
}
