.navbar {
  padding: 60px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.desktop-menu-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  color: lightgray;
  text-decoration: none;
}

.navbar-list-desktop {
  height: 50px;
  display: flex;
  align-items: center;
}

.navbar-item {
  cursor: pointer;
  font-weight: bold;
  margin-left: 15px;
  color: lightgray;
  text-decoration: none;
}

nav .active {
  color: rgb(182, 117, 247);
}

.mobile-menu-bar {
  display: none;
}

.show-none {
  display: none !important;
}

.menu-icon {
  display: none !important;
}

@media (max-width: 1025px) {
  .desktop-menu-bar {
    display: none;
    position: absolute;
    right: 0;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: flex-end;
  }

  .navbar.active {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: flex-end;
  }

  .mobile-menu-bar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-icon {
    display: inline-block !important;
    font-size: 2rem !important;
    cursor: pointer;
    margin-top: 20px !important;
  }

  .navbar-list-mobile {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    z-index: 999;
    transition: 0.3s ease-in-out;
    background-color: #202a37ef;
  }

  .navbar-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    color: lightgray;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .navbar-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
